@font-face {
  font-family: 'IBM Plex mono';
  src: local('IBM Plex Mono'), local('IBMPlexMono');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold');
  font-weight: 700;
  font-display: swap;
}
