:root.theme-dark {
  --accent-color: #ff0070;
  --accent-color-transparent: rgb(255 0 112 / 0.4);
  --accent-title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --title-decor-text-color: #000028;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --page-bg-color: #000028;
  --page-bg-image: url('../images/cover-image-dark.png');
}

.theme-dark .header__record {
  display: block;
}
