:root.theme-light {
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgb(50 49 45 / 0.4);
  --accent-title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --decorated-zone-color: #353430;
  --title-decor-text-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --page-bg-color: #fff1f7;
  --page-bg-image: url('../images/cover-image-light.png');
}

.theme-light .header__record {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgb(50 49 45 / 0.4);
    --accent-title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --decorated-zone-color: #353430;
    --title-decor-text-color: #353430;
    --text-color: #353430;
    --section-title-color: #353430;
    --page-bg-color: #fff1f7;
    --page-bg-image: url('../images/cover-image-light.png');
  }

  :root:not(.theme-dark) .header__record {
    display: none;
  }
}
