.page {
  min-block-size: 100vh;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  line-height: 1.3;
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  pointer-events: none;
}

.decorated-zone::before {
  inset-block-start: var(--page-padding);
  inset-inline-end: var(--page-padding);
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  inset-block-end: var(--page-padding);
  inset-inline-start: var(--page-padding);
  border-block-end: 1px solid var(--decorated-zone-color);
  border-inline-start: 1px solid var(--decorated-zone-color);
}

.header,
.footer {
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--page-padding);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  padding: 1px 13px 3px;
  border: none;
  color: var(--decorated-zone-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-zone-color);
  pointer-events: none;
}

.header__record {
  position: absolute;
  inset-block-start: var(--page-padding);
  inset-inline-end: calc(var(--page-padding) + 28px);
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.header__record::after {
  content: '';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.title {
  color: var(--accent-title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.header__title {
  margin-inline-start: 0;
}

.title-decor {
  color: var(--title-decor-text-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.header__description {
  align-self: center;
}

.content {
  display: grid;
  gap: var(--section-gap);
  padding: 40px var(--page-padding);
}

.content-section {
  display: grid;
  gap: var(--card-gap);
}

.content-section__title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.cards-list {
  display: grid;
  gap: var(--card-gap);
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-size: inherit;
  line-height: inherit;
}

.card__title_regular {
  font-weight: 400;
}

.card__text + .card__text {
  margin-block-start: 10px;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__link:hover {
  border-block-end: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  font-size: inherit;
  line-height: inherit;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

@media (width >= 768px) {
  .header,
  .footer {
    min-block-size: 1024px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: calc(var(--page-padding) * -1);
  }

  .header__description {
    inline-size: 50%;
    justify-self: end;
  }

  .content {
    gap: var(--section-gap);
    padding-block: 60px;
  }

  .content-section_grid {
    grid-template-columns: minmax(236px, 1fr) 2fr;
  }

  .content-section_grid .cards-list,
  .content-section_grid .content-section__subtitle {
    grid-column: 2;
  }

  .content-section_wide .content-section__title {
    max-inline-size: 236px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / -1;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image_books {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .content-section_grid {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_wide .content-section__title {
    max-inline-size: 315px;
  }

  .content-section_wide .cards-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
